@import url('https://fonts.googleapis.com/css?family=Kalam');

div {
    font-family: Kalam;
    width: 14%;
    height: 200px;
    margin: 80px auto;
    text-align: center;
}

p {
    margin-bottom: 10px;
}

button {
    margin: 10px 0;
}